/*
"name": "t-winter",
"desc": "an ice-cold theme for people who like blue",
"auth": "hoax",
*/

:root.t_winter, .t_winter{
	--bg0:#011627;
	--bg1:#041C30;
	--bg2:#082339;
	--bg3:#0B2942;
	--text:#D6DEEB;
	--darktext:#999999;

	--red:#00BFF9;
	--orange:#8DEC95;
	--yellow:#A7DBF7;
	--green:#82AAFF;
	--blue:#00BFF9;
	--purple:#D29FFC;

  --main:var(--red);
	--text-on-color:var(--bg0);
}
