/*
"name": "zenburn",
"desc": "a blandly coloured theme for the working class",
"auth": "github.com/jnurmine/Zenburn",
*/

:root.zenburn, .zenburn{
	--bg0:#3f3f3f;
	--bg1:#373737;
	--bg2:#3d3d3d;
	--bg3:#464646;
	--text:#dcdccc;
	--darktext:#dcdccc;

	--red:#DCA3A3;
	--orange:#DFAF8F;
	--yellow:#F0DFAF;
	--green:#80D4AA;
	--blue:#8FAF9F;
	--purple:#C0BED1;

  --main:var(--red);
	--text-on-color:var(--bg0);
}
