.linkPreview{
	opacity:0;
	transition: opacity .1s ease-in-out;
}
.linkPreviewBounds:hover > .linkPreview{
	opacity:1;
}
.icon-svg svg {
	filter: drop-shadow(3px 3px 0px var(--bg2));
}

.icon-svg:hover {color:var(--darktext);}

.svg-Twitter:hover{ color:var(--blue) !important; }
.svg-Discord:hover{ color:var(--purple) !important; }

@keyframes rainbow {
	0%,
	100%{color:rgba(255,0,  0,  1);}
	10%{color: rgba(255,154,0,  1);}
	20%{color: rgba(208,222,33, 1);}
	30%{color: rgba(79, 220,74, 1);}
	40%{color: rgba(63, 218,216,1);}
	50%{color: rgba(47, 201,226,1);}
	60%{color: rgba(28, 127,238,1);}
	70%{color: rgba(95, 21, 242,1);}
	80%{color: rgba(186,12, 248,1);}
	90%{color: rgba(251,7,  217,1);}
}
.rainbowText{
	animation: rainbow 1s linear infinite;
}